.square {
    /* border: 1px solid grey; */
    display: flex;
    justify-content: center; /* Center the circle horizontally */
    align-items: center; /* Center the circle vertically */
    width: 2rem;
    height: 2rem;
    margin-right: 0px;
    margin-top: 0px;
}